<include file="Public/min-header"/>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">添加商家</h3>
                        <div class="pull-right">
                            <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default"
                               data-original-title="返回"><i class="fa fa-reply"></i></a>
                            <!--<a href="javascript:;" class="btn btn-default" data-url="http://www.tp-shop.cn/Doc/Index/article/id/1006/developer/user.html" onclick="get_help(this)"><i class="fa fa-question-circle"></i> 帮助</a>-->
                        </div>
                    </div>

                    <!-- /.box-header -->
                    <form action="{:U('Yellow/addEditYellowInfo')}" method="post" class="form-horizontal"
                          id="yellow_form">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商家名称</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="名称" class="form-control large" name="name"
                                           value="{$yelow_info.name}">
                                    <span class="help-inline" style="color:#F00; display:none;" id="err_name"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分类</label>
                                <div class="col-sm-3">
                                    <select name="type_id" id="type_id"
                                            class="small form-control">
                                        <foreach name="list" item="v">
                                            <option value="{$v[type_id]}">{$v[name]}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">是否显示</label>

                                <div class="col-sm-10">
                                    <label>
                                        <if condition="($yelow_info.is_show eq 1) or ($yelow_info.is_show eq NULL)">
                                            <input checked="checked" type="radio" name="is_show" value="1"> 是
                                            <input type="radio" name="is_show" value="0"> 否
                                            <else/>
                                            <input type="radio" name="is_show" value="1"> 是
                                            <input checked="checked" type="radio" name="is_show" value="0"> 否
                                        </if>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">商家图片</label>

                                <div class="col-sm-10">
                                    <input onclick="GetUploadify(4,'img_list','yellow');" type="button" value="上传图片"/>
                                    <div name="img_list" id="img_list">
                                        <foreach name="img_list" item="item">
                                            <li rel="{$item}"><input
                                                    class="input-text" type="text" name="img_list[]"
                                                    value="{$item}"><a
                                                    href="javascript:void(0);"
                                                    onclick="ClearPicArr('{$item}','')">删除</a>
                                            </li>
                                        </foreach>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">显示排序</label>
                                <div class="col-sm-1">
                                    <input type="text" placeholder="0" class="form-control large" name="sort"
                                           value="{$yelow_info.sort}"/>
                                    <span class="help-inline" style="color:#F00; display:none;"
                                          id="sort"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商家介绍</label>
                                <div class="col-sm-6">
                                    <textarea type="text" id="content" name="content" placeholder="商家介绍"
                                              class="form-control large" cols="100" rows="20">{$yelow_info.content}
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商家联系人</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="商家联系人" class="form-control large" name="linkman"
                                           value="{$yelow_info.linkman}">
                                    <span class="help-inline" style="color:#F00; display:none;" id="linkman"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商家联系电话</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="商家联系电话" class="form-control large" name="phone"
                                           value="{$yelow_info.phone}">
                                    <span class="help-inline" style="color:#F00; display:none;" id="phone"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商家url</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="http://....." class="form-control large" name="url"
                                           value="{$yelow_info.url}">
                                    <span class="help-inline" style="color:#F00; display:none;" id="url"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">商家地址</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="商家地址" class="form-control large" name="address"
                                           value="{$yelow_info.address}">
                                    <span class="help-inline" style="color:#F00; display:none;" id="address"></span>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <input type="hidden" name="info_id" value="{$yelow_info.info_id}">
                            <button type="reset" class="btn btn-primary pull-left"><i class="icon-ok"></i>重填</button>
                            <button type="button"
                                    onclick="ajax_submit_form('yellow_form','{:U('Yellow/addEditYellowInfo',array('is_ajax'=>$is_ajax))}');"
                                    class="btn btn-primary pull-right"><i class="icon-ok"></i>提交
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script>

    /** 以下是编辑时默认选中某个商品分类*/

    $(function () {
        $('#type_id option[value={$yelow_info['
        type_id
        ']}]'
        ).
        attr('selected', true);

        $('#parent_id').on('change', function () {
            var parent_id = $(this).val();
            get_type(parent_id);
        });
    });
    //获得下级分类列表
    function get_type(parent_id) {
        $.ajax({
            url: "/index.php/Admin/Yellow/get_type/?parent_id=" + parent_id,
            type: "get",
            dataType: "html",
            success: function (data) {
                $('#parent_id_1').empty();
                data = "<option value='0'>请选择下级分类</option>" + data;
                $('#parent_id_1').append(data);
            }
        })
    }

</script>

</body>
</html>